.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 300px;
    height: 180px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    background: rgba(255,255,255,0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    transition: .5s ease;
}
  
  
